
/* beginning css for the codes games */
.codeKids{
    font-family: 'Courier New', Courier, monospace;
    inset: 10px 20px 30px 40px;
    background-color: antiquewhite;
}

.heading_coding{
    font-size: 40px;
    color: #9198e5;
    text-align: center;
    padding-top: 20px;
}
.description{
    padding: 5px;
    display: grid;
    flex-direction: row;
    gap: 1px;
    grid-template-columns: 30% 70%;
}

.description img{
    font-size: small;
    height: 10rem;
    width: 80%;
}


.description p{
    font-size: 19px;
    height: 10rem;
    width: 100%;
    color: black;
    text-align: justify;
}
.games_container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    background-color: rgba(107, 25, 184, 0.3);
    
}

.scratch_container {
  width: 20%;
  background-color: burlywood;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(28, 125, 157);
  
}
.scratch_container:hover {
  background-color: rgb(55, 70, 110);
  color: white;

}

.image img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: black;
  cursor: pointer;
}

.title_game{
  text-align: center;
  padding: 5px;
}

.game_des {
  padding: 4px;
  text-align: center;
}

.game_des button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: indigo;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.game_des button:hover {
  background-color: #9198e5;
  color: white;
  transition: 3s;
}

@media only screen and (max-width:600px) {
  
}
@media screen and (max-width: 600px) {
  .scratch_container{
      display: block;
      font-size: 35px;
      height: auto;
      top: auto;
  }
}