
@media screen and (max-width: 768px) {
    .logo{
    margin: 0;
    }
    
    .books-heading h3{
        font-size: 15px;
        margin-top: 5rem;
    }

    .books-heading p{
        font-size: 12px;
    }

    .games_container{
        display: block;
        background-color: aliceblue;
    }
    }