*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.navbar{
    background: transparent;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: auto;
    background: linear-gradient(#e66465, #9198e5);
    z-index: 1;



}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    margin-top: auto;
    box-shadow: rgb(77, 61, 61);
}

av_menu .maths{
    margin-left: auto;
}
.nav_menu .logo{
margin-right: auto;
}

.nav_menu .logo h1{
    font-size: 4rem ;
}

.nav_menu li{
    background-color: green;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 5px;
    height: 60px;
    width: 160px;
    text-align: center;
}

.nav_menu li a{
    text-align: center;
    padding-top: 5px;
}

.nav_menu a:hover{
    color:var(--color-bg2);
    }